{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css"
      type="text/css">
<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<style>
    h1 {
        color: black;
        font-family: Impact, Charcoal, sans-serif;
        font-size: 300%;
    }

    p {
        color: black;
        font-family: 'Oxygen';
        font-size: 100%;
    }

    canvas {
        width: available;
        height: available;
    }

    html {
    {#        {% load static %}#} background-image: url(/static/field_image.jpg);
        background-color: lightcyan;
        height: 100%;
        background-repeat: repeat;
        background-position: center;
        background-size: cover;
        margin: 0;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    body {
        border: 2px solid black;
        border-radius: 10px;
        background-color: hsla(240, 100%, 100%, 0.75);
        position: relative;
    }


    .background {
        border-radius: 10px;
        background-color: hsla(240, 100%, 100%, 0.75);
        position: relative;
        overflow: hidden;
        padding-top: 5px;
    }

    * {
        padding: 5px;
        margin: 0;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .map {
        height: 400px;
        width: 100%;
    }
</style>
<html>
<head>
    <title>New Hall to New York</title>
    <!--[if lte IE 8]>
            <script src="{% static 'js/excanvas.js' %}"></script>
        <![endif]-->
    <center><img src=/static/logo%201%5B3266%5D.png alt="New Hall to New York" width="400px" height="auto"></center>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="background">
            <center><p>Do you want to join us in making a difference? We are raising money in aid of ASSOCIATION OF NHS
                CHARITIES and every donation will help. Thank you in advance for your contribution to this cause that
                means
                so
                much to us all.<br><br>
                We shall be running/walking/cycling 3km a day for 30 days (15th May - 14th June) which means that we,
                collectively, will be on track for covering approximately the same distance from New Hall to New York!
            </p>
            </center>
        </div>

    </div>

</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-6">
            <div class="background">
                <center><p>Here you can see our progress!</p></center>
                <center>
                    <canvas id="myChart"></canvas>
                </center>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="background">
                <p>To donate to the GoFundMe for the NHS see below:</p>
                <center>
                    {#                    <div class="embed-responsive embed-responsive-1by1">#}
                    <embed height="500px" width="100%"
                           src="https://www.gofundme.com/mvc.php?route=widgets/mediawidget&fund=new-hall-to-new-york&image=1&coinfo=1&preview=1"
                           type="text/html"></embed>
                    {#                    </div>#}
                </center>
            </div>
        </div>

    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="background">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="800" height="400" src="https://www.youtube.com/embed/P0TiSwwIBlU"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="embed-responsive-item" width="100%"></iframe>
                </div>

            </div>

        </div>
        <div class="col-lg">
            <div class="background">
                <center><p>Distance Covered and Remaining!</p></center>
                <center>
                    <canvas id="distancesChart"></canvas>
                </center>
            </div>
        </div>
    </div>


</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="background">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/E3rGjY2WpO0" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen class="embed-responsive-item"></iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="background">
                <div id="map" class="map"></div>
                <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
                <script type="text/javascript"
                        src="https://geographiclib.sourceforge.io/scripts/geographiclib.js">
                </script>
                <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
                <script src={% static 'js/arc.js' %}></script>
                <script type="text/javascript">
                    $.get('{% url "distance_chart_json" %}', function (data) {
                        let map = new ol.Map({
                            target: 'map',
                            layers: [
                                new ol.layer.Tile({
                                    source: new ol.source.OSM()
                                })
                            ],
                            view: new ol.View({
                                center: ol.proj.fromLonLat([-40.24, 45.03]),
                                zoom: 3
                            })
                        });
                        let points = [[0.5085414, 51.7642137], [-73.9877313, 40.757978]];
                        {% comment %}
                                                for (let i = 0; i < points.length; i++) {
                                                    points[i] = ol.proj.transform(points[i], 'EPSG:4326', 'EPSG:3857');
                                                }

                                                let featureLine = new ol.Feature({
                                                    geometry: new ol.geom.LineString(points)
                                                });

                                                let vectorLine = new ol.source.Vector({});
                                                vectorLine.addFeature(featureLine);

                                                let vectorLineLayer = new ol.layer.Vector({
                                                    source: vectorLine,
                                                    style: new ol.style.Style({
                                                        fill: new ol.style.Fill({color: '#00FF00', weight: 4}),
                                                        stroke: new ol.style.Stroke({color: '#00FF00', width: 4})
                                                    })
                                                });
                                                map.addLayer(vectorLineLayer);{% endcomment %}
                        var generator = new arc.GreatCircle({x: 0.5085414, y: 51.7642137}, {x: -73.9877313, y: 40.757978});
                        var n = 50; // n of points
                        var coords = generator.Arc(n).geometries[0].coords;
                        var geojson = {
                            "type": "Feature",
                            "geometry": {"type": "LineString", "coordinates": coords},
                            "properties": null
                        };

                        console.log(JSON.stringify(geojson));

                        var format = new ol.format.GeoJSON({
                            featureProjection: "EPSG:3857"
                        });

                        var vectorSource = new ol.source.Vector({
                            features: format.readFeatures(geojson)
                        });

                        var vectorLayer = new ol.layer.Vector({
                            source: vectorSource,
                            style: new ol.style.Style({
                                stroke: new ol.style.Stroke({
                                    color: 'red',
                                    width: 3
                                })
                            })
                        });
                        map.addLayer(vectorLayer);


                        let Geodesic = GeographicLib.Geodesic,
                            geod = Geodesic.WGS84;
                        let l = geod.InverseLine(51.7642137, 0.5085414, 40.757978, -73.9877313),
                            p = l.Position(l.s13 * data.percentage);
                        console.log(p.lat2.toFixed(8) + " " + p.lon2.toFixed(8));
                        let layer = new ol.layer.Vector({
                            source: new ol.source.Vector({
                                features: [
                                    new ol.Feature({
                                        geometry: new ol.geom.Point(ol.proj.fromLonLat([p.lon2.toFixed(5), p.lat2.toFixed(5)]))
                                    })
                                ]
                            })
                        });
                        map.addLayer(layer);
                    });

                </script>
            </div>
        </div>
    </div>


</div>

<p style="font-size: small">
    Website created by Matthew Jones
</p>
<script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>

<script type="text/javascript">
    $.get('{% url "line_chart_json" %}', function (data) {
        let ctx = $("#myChart").get(0).getContext("2d");
        let chart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                {#bezierCurve: false,#}
                scales: {
                    xAxes: [{
                        type: 'time',
                        distribution: 'linear',
                        time: {
                            unit: 'day'
                        }
                    }],
                    yAxes: [{
                        id: 'Total Distance (KM)',
                        type: 'linear',
                        position: 'left'
                    },
                        {
                            id: 'Total Time (Hours)',
                            type: 'linear',
                            position: 'right'
                        }]
                },
                {#tension: 0,#}
                {##}
                {#responsive: false,#}

            }
        });
        ctx.style.height = '128px';
        ctx.style.width = '128px';
    });
</script>

<script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script type="text/javascript">
    $.get('{% url "distances_chart_json" %}', function (data) {
        let ctx = $("#distancesChart").get(0).getContext("2d");
        let chart = new Chart(ctx, {
            type: 'pie', data: data,
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            display: false
                        }
                    }]
                }
            }
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>
</html>